.container
  .row
    = render 'layouts/sidebar'
    .span8.blog
      - @articles.each do |a|
        %article
          %h4.title-bg= link_to a.title, article_path(a.slug)
          .post-content
            - if a.hero_image_file_name
              = image_tag a.hero_image.url(:main)
            .post-body
              = preserve markdown(a.body)
              %p= link_to 'Read More...', article_path(a.slug)
            .post-summary-footer
              %ul.post-data
                - if current_user
                  %li
                    = link_to 'Edit', edit_article_path(a)
                %li
                  %i.icon-calendar
                    = a.printable_post_date

