.container
  .row
    = render 'layouts/sidebar'
    .span8.blog
      - @articles.each do |a|
        %article
          %h4.title-bg= a.title
          .post-content
            -#- if a.image
              = image_tag a.image
            .post-body
              = preserve markdown(a.body)
            .post-summary-footer
              %ul.post-data
                %li
                  = link_to 'Edit', edit_article_path(a)
                %li
                  %i.icon-calendar
                    = a.printable_post_date

