.container
  .flash-notice
    - if flash[:notice]
      %h2= flash[:notice]

  .row
    %h1 Articles
  %table.table.table-striped
    %thead
      %tr
        %th Title
        %th Body
        %th Date

    %tbody
      - @articles.each do |a|
        %tr
          %td= a.title
          %td= a.body[0..25]
          %td= a.printable_post_date
          %td= link_to "Edit", edit_article_path(a.id)
          %td= link_to "Destroy", article_path(a.id), method: :delete



