.container
  - if flash[:notice]
    = flash[:notice]

  .row
    %h1 Articles
  %table.table.table-striped
    %thead
      %tr
        %th Title
        %th Body
        %th Date

    %tbody
      - @articles.each do |a|
        %tr
          %td= a.title
          %td= a.body[0..100]
          %td= a.created_at
          %td= link_to "Edit", edit_article_path(a.id)
          %td= link_to "Destroy", article_path(a.id)



