/ /////SIDEBAR/////
.span4.sidebar
  %h2.title Software Engineer
  %h4.caption Passionate Coder and Entrepreneur
  %h4= site_description
  .row-fluid
    %table.contact-info
      %tbody
        %tr
          %td
            %ul.nav.nav-list
              %li
                %a.mail{"href" => "mailto:jonathanpagano@gmail.com"}
                  %i.icon-envelope.icon-3x
              %li
                %a.linkedin{"href" => "https://www.linkedin.com/in/jonathanpagano/", "target" => "_blank"}
                  %i.icon-linkedin.icon-3x
          %td
            %ul.nav.nav-list
              %li
                %a.github{"href" => "https://github.com/joofsh", "target" => "_blank"}
                  %i.icon-github-alt.icon-3x
              %li
                %a.twitter{"href" => "https://twitter.com/jdpagano", "target" => "_blank"}
                  %i.icon-twitter.icon-3x

  / Popular Posts
  - if @articles
    .row-fluid.hidden-phone
      %h4.title-bg.recent-posts-title Latest Posts
      %ul.popular-posts
        - @articles[0..2].each do |a|
          %li
            - if a.hero_image_file_name
              = image_tag a.hero_image(:thumbnail)
            - else
              = image_tag 'grey-whale.png'
            .title
              %h4= a.title

            %em
              = "Posted on #{a.printable_post_date}"

