!!!
%html
  %head
    %title JD Pagano
    %meta{'name' => "viewport", 'content' => "width=device-width, initial-scale=1.0"}

    // Load in bootstrap
    %script{:src => "//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"}
    %link{:href => "//netdna.bootstrapcdn.com/bootstrap/3.0.0-wip/css/bootstrap.min.css", :rel => "stylesheet"}
    %script{:src => "//netdna.bootstrapcdn.com/bootstrap/3.0.0-wip/js/bootstrap.min.js"}

    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body
    .container
      %header
        = render 'layouts/header'
      = yield
